.App {
  text-align: center;
  padding: 0;
  background-color: rgb(0, 0, 0);
}
.App h1 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  padding: 20px;
}

.users {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px 10px;
  list-style-type: none;
  margin-left: 10%;
}
.users h1 {
  color: whitesmoke;
  position: fixed;
  top: 0;
  width: 50%;
  padding: 20% 0;
  margin-left: 47%;
  font-size: 40px;
}
.users h1:hover {
  color: #74c69d;
}
.users li {
  background-color: rgb(179, 250, 176);
  border: 1px solid rgb(0, 0, 0);
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
.users li h2 {
  color: rgb(0, 0, 255);
  padding-left: 100px;
  font-size: 25px;
}
.users p {
  display: flex;
  margin-left: 10%;
  margin-bottom: 8px;
}

.users p strong {
  color: rgb(102, 0, 128);
  width: 150px;
  font-weight: bold;
}
.users p span {
  flex: 1;
  margin-left: 10%;
  text-wrap: wrap;
  max-width: 250px;
}
